<%#= render "shared/error_messages", :target => @post %>
<%= f.error_messages %>
<div class="field">
  <%= f.label :title, 'Title: ' %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :description, 'Description: ' %>
  <%= f.text_area :description , :size => '100x20' %>
</div>